*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    
    padding: 20px 0px;
    padding-left: 10px;
}
.nav-ul{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.nav-ul li{
    list-style: none;
}
.link{
    text-decoration: none;
    color: white;
}
.btn{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    display: none;
    
}
.aim{
    text-align: center;
    margin-top: 40px;
}

@media(max-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    .nav-ul{
        display: block;
        position: absolute;
        background-color: rgb(2, 2, 2);
        width: 100%;
        text-align: center;
        top: 67px;
        margin-left: -10px;
        border-top: 1px solid white;
        display: none;
        font-weight: bold;
    }
    
    .menu{
        position: relative;
    }
    .btn{
        display: block;
        margin-right: 10px;
    }
    .sow-ul{
        display: block;
    }
}